#winsensrange,
#osusens,
#ppi {
    width: 75px;
}

.header {
    padding: 10px;
    background: #B7E5E3;
    text-align: center;
}

#winsensrange {
    width: 200px;
}

* {
    margin-top: 10px; 
    margin-bottom: 10px; 
}

body {
    font-family: arial;
    margin: 0;
}
