* {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    padding: 10px;
    background: #B7E5E3;
    text-align: center;
}

body {
    font-family: Arial;
    margin: 0;
}

#winsens,
#osusens,
#ppi {
    width: 75px;
}

#winsensrange {
    width: 200px;
}
